.design-item {
  margin: 0;
}

.design-item-btn {
  display: block;
  width: 100%;
  padding: 0;
  background: none;
  border: 0;
  cursor: zoom-in;
}

.design-item figcaption {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
