.overlay-contain {
  display:flex;
  flex-direction: column;
  /* justify-content: center;
  align-items:center; */
  /* padding: 20px; */
  overflow: hidden;
  line-height: 1;
  margin: auto;
  color: white;
  position: relative;
}