.home-wrap {
  position: relative;
  min-height: 100vh;
}

.logo-container {
  margin: 0 auto;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:"system-ui";
}

#about, #portfolio, #contact
{
  /* background: rgba(0,0,0,0.85); 
  backdrop-filter: blur(1px);   */
background: black;
}


.logo-container img {
width: 100vw;
height: auto;
}

.header {
  font-size: 160px;
  text-transform: uppercase;
  font-weight: 600;
 }

 .sub-header {
  margin-top: 20px;
  width: 100%;
  text-align: center;
 }

 @media only screen and (max-width: 1400px) {
  .sub-header {
    width: unset;
  }
 }

@media only screen and (max-width:1000px) {
  .header {
    font-size:80px;
  }
  .sub-header {
    font-size: 18px;
    text-align: left;
  }
}
@media only screen and (max-width:600px) {
  .header {
    font-size:72px;
  }

  .sub-header {
    font-size: 12px;
  }
}
@media only screen and (max-width:400px) {
  .header {
    font-size:60px;
  }

}
