/* LetterEmitRitual.css */
.top-cont.emit-ritual {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: black;
  overflow: hidden;
}

.emit-text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  font-size: 48px;
  white-space: nowrap;
  color: red;               /* base text in red */
  pointer-events: none;
  z-index: 1000;
}

.emit-letter {
  display: inline-block;
}

.emit-particle {
  position: absolute;
  font-family: monospace;
  font-size: 24px;
  color: white;             /* emitted in white */
  pointer-events: none;
  user-select: none;
  transform: translate(-50%, -50%);
}
