#nav-style a {
  color: white;
  transition: all 300ms;
  cursor: pointer;
}

#nav-style a.active {
  font-weight: bold;
  color: red;
}

#nav-style a:hover,
#nav-style a.active:hover {
  color: gray !important;
  text-decoration: none;
}

#nav-style {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 555;
}
