

.about-subheader {
  color: red;

}



.skills-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.skills-box {
  width: 24%;
  background-color: #212120;
  padding: 10px;
  color: white;
  margin-bottom:10px;
}

.gray-box {
  background-color: #212120;
  padding: 10px;
  color: white;
  margin-bottom:10px;
}


.skills-box ul {
  padding: 15px;
  list-style-type: square;
}


@media screen and (max-width: 1250px) {
  .skills-box {
    width: 33%;
  }
}
@media screen and (max-width: 1000px) {

  .about-subheader {
   font-size: 24px;
  
  }

  .skills-box {
    width: 49%;
  }


}
@media screen and (max-width: 600px) {

  .about-p {
    font-size: 14px;
  
  }

  .skills-grid {
    justify-content: center;
  }
  .skills-box {
    width: 100%;
  }

  
}

