.profile-pic{
  border-radius: 100%;
  width: 200px;
}

.blue-box {
  min-height: 80vh;
  background-color: #171530;
}

.red-box {
  min-height: 60vh;
  background-color: #B03737;
  color: #bfbfbf;
}


.bio-text {
  width: 80%;
  margin: auto;
  color: #bfbfbf;


}