.profile-pic{
  border-radius: 100%;
  width: 200px;
}

.blue-box {
  min-height: 70vh;
  background-color: #171530;
}

.teal-box {
  min-height: 50vh;
  background-color: #2b768d;
  /* background-color: #B03737; */
  /* color: #bfbfbf; */
  color: black;
}


.bio-text {
  width: 80%;
  margin: auto;
  color: #bfbfbf;
}

@media only screen and (max-width: 600px) {
  .bio-text {
    width:100%;
  }
  .bio-text > p {
    text-align:left;
  }
}
