
a {
  color:white;
  transition: all 300ms;
}

a:hover {
  color: #f1f1f1 !important;
}

.app {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: white;
  width: 100%;
}

body {
    background-color:black;
}


h2 {
  font-size: 42px;
  font-family: 'Poppins', sans-serif;
  color: white;

}

h3 {
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  color:white;
}

h4,h5,h6 {
  font-family: 'Poppins', sans-serif;

}

a i {
  transition: all 300ms;
}

a i:hover{
  color:#0096c3 !important;
}

.line {
  border: 1px solid white;
  width: 70%;
}

p {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;

}

/* COMMON CLASSES */

.page-header {
  font-size: 80px;
  line-height: 1;
}

.close-btn {
  border: 2px solid red;
  background-color:#f1f1f1;
  top: 8px;
  right: 8px;
  padding: 2px;
  color: red;
  z-index: 44;
  position:absolute;
  transition: 300ms all;
  cursor: pointer;
}


.close-btn:hover {
  border: 2px solid #f1f1f1;
  color: #f1f1f1;
  background-color: red; 
}

.night-pallete{
  background-color: black;
  color: white;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  padding: 28px;
}

/* wrapper for the parallax hero part */
.parallax-section {
  position: relative;
  /* margin-top: 40px; */
}

.parallax-bg {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.7);
}

.parallax-content {
  position: relative;
  z-index: 1;
  padding-top: 15vh;
  width: 100%;
  overflow: hidden;
  /* padding-bottom: 90vh; */
}


/* MAIN COLORS */

.bg-color {
  background-color: black;
}

.off-black-bg-color {
  background-color: #242424;
}

.bg-teal {
  background-color: #2b768d;
}

.light-blue-color {
  background-color: #2b768d;
}

.light-blue-text {
  color: rgb(29, 183, 235);
}

.teal-text {
  color: #2b768d;
}

.grey-font {
  color: #BFBFBF;
}

/* FONTS */

.aguafina-font {
  font-family: 'Aguafina Script', cursive;
}

.alata-font {
  font-family: 'Alata', sans-serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.prompt-font {
  font-family: 'Prompt', sans-serif;
}

.righteous-font {
  font-family: 'Righteous', cursive;
}

@media screen and (max-width: 1000px) {
  .page-header {
    font-size: 60px;
  }
  
}