.app {
  height: 100vh;
  color: white;
  background-color: #171530;
  padding: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

body {
    background-color: #171530;
}


h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

.line {
  border: 1px solid white;
  width: 70%;
}

p {
  font-size: 18px;
}

/* FONTS */

.aguafina-font {
  font-family: 'Aguafina Script', cursive;
}

.alata-font {
  font-family: 'Alata', sans-serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.prompt-font {
  font-family: 'Prompt', sans-serif;
}

.righteous-font {
  font-family: 'Righteous', cursive;
}

/* MAIN COLORS */

.bg-color {
  background-color: #171530;
}

.red-color {
  background-color:#B03737;
}