.logo-container {
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: black;
  padding: 20px;
  overflow: hidden;
  line-height: 1;
  color:white;
}

.header {
  font-size: 200px;
  text-transform: uppercase;
  font-weight: 600;
 }

 .sub-header {
  width: 100%;
 }

 .boris-img {
  height: 200px;
  width: auto;
  border-radius: 100%;
 }



@media only screen and (max-width:1000px) {
  .header {
    font-size:80px;
  }
  .sub-header {
    font-size: 18px;
  }
}
@media only screen and (max-width:600px) {
  .header {
    font-size:52px;
  }

  .sub-header {
    font-size: 12px;
    margin-top: -20px;
  }
}
